/* Панель навигации */
.navbar {
    margin: 20px 0;
}

/* Подвал */
.footer {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #eee;
    color: #777;
}

/* Карусель */
.carousel {
    max-width: 1000px;
    margin: 20px auto;
}

.carousel-inner > .item {
    background-color: #777;
}

.carousel-inner > .item > img {
    width: 100%;
}

.carousel-caption {
    padding: 20px;
    background-color: rgba(119, 119, 119, .6);
}

.carousel-caption p {
    margin: 20px 0;
    font-size: 150%;
}

/* Кнопки */
.btn {
    margin: 2px;
}
